{% extends "base.html" %}
{% block currpage %}Contact{% endblock currpage %}
{% block loginpage %}active disabled{% endblock loginpage %}
{% block body %}
<div class="container my-5">
    <div class="row">
        <form class="col-lg-4 offset-lg-4 col-md-6 offset-md-3" action="/auth/login" method="POST">
            <div class="d-flex flex-column align-items-center">
                <img class="mb-4" src="{{url_for('static',filename='img/logo.jpeg')}}" alt="" width="100" height="100">
                <h1 class="mb-3 fw-normal text-center">Login</h1>
            </div>
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">{{message}}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="mb-3">New user? <a href="/auth/register"> Register here</a></div>
            <div class="mb-3">
                <label for="inputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="inputEmail1">
            </div>
            <div class="mb-3">
                <label for="inputPassword1" class="form-label">Password</label>
                <input type="password" name="pw" class="form-control" id="inputPassword1" autocomplete required>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" id="remember_me" value="true" name="remember-me" class="form-check-input">
                <label for="remember_me" class="form-check-label">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/" class="btn btn-outline-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock body %}