{% extends "base.html" %}
{% block currpage %}Contact{% endblock currpage %}
{% block contactpage %}active disabled{% endblock contactpage %}
{% block body %}
<!-- Page Header-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Contact Us</h1>
            <p class="lead mb-0">Have questions? We have answers.</p>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!--Message flashing-->
                {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                <div class="alert alert-{{category}}" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <!--Contact page content-->
                <p>Want to get in touch? Fill out the form below and we will get back to you as
                    soon as possible!</p>
                <div class="my-5">
                    <form action="/contact" method="POST">
                        <div class="form-floating">
                            <input class="form-control" name="name" id="inputName" type="text"
                                placeholder="Enter your name..." required />
                            <label for="inputName">Name</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" name="email" id="inputEmail" type="email"
                                placeholder="Enter your email..." required />
                            <label for="inputEmail">Email address</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" name="message" id="inputMessage"
                                placeholder="Enter your message here..." style="height: 12rem"></textarea>
                            <label for="inputMessage">Message</label>
                        </div>
                        <br />
                        <button class="btn btn-primary text-uppercase" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock body %}